
#cabecera{

    padding-left: 4rem;
    background-color: rgb(15, 233, 167);
    min-width: 100%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: rgb(22, 87, 18);
}

#margin-botom{
   
   

        margin-bottom: 2rem;
}
p{

    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1.25rem;
}
